TZ=Asia/Shanghai
CINELINK_DATA_DIR=/app/data
CINELINK_WEBDAV_BIND_HOST=0.0.0.0
CINELINK_WEBDAV_PORT=8088
CINELINK_WEBDAV_INTERNAL_URL=http://127.0.0.1:8088
CINELINK_WEBDAV_PUBLIC_URL=http://127.0.0.1:8088
CINELINK_STRM_OUTPUT_DIR=/data/media
CINELINK_DOWNLOAD_URL_CACHE_TTL=300
